Q1) Write a program to reverse an integer in Python.

In [ ]:
integer = input("Enter The Value: ")
reverse = integer[::-1]
print("Reversed Of The Value:",reverse)

Enter The Value: 123
Reversed Of The Value: 321

Q2) Write a program in Python to check whether an integer is
Armstrong number or not.

In [ ]:
a = []
b = input('Enter Number')
for i in b:
  a.append(i)
print(a)

c = []
for j in range(len(a)):
  c.append(int(a[j]))
print(c)

d = []
for k in range(len(c)):
  d.append(c[k]**3)
print(d)

final = sum(d)
print(str(final))

c=int(b)

if (final==c):
  print(b," Is An Armstrong Number")
elif (final!=c):
  print(b," Is not An Armstrong Number")
else:
  print(b," Is Wrong Input")

Enter Number153
['1', '5', '3']
[1, 5, 3]
[1, 125, 27]
153
153  Is An Armstrong Number

Q3) Write a program in Python to check given number is prime
or not.

In [2]:
num = int(input("Enter a number: "))
if num > 1:
   for i in range(2,num):
       if (num % i) == 0:
           print(num,"is not a prime number")
           break
       else:
         print(num,"is a prime number")       
else:
   print(num,"is not a prime number")

Enter a number: 4
4 is not a prime number

Q4) Write a program in Python to print the Fibonacci series
using iterative method.

In [ ]:
num1 = 0
num2 = 1
n = int(input("Number For Fibonacci Series: "))
print("Fibonacci Series Are: ")
for i in range(0,n):
    if i<=1:
        result=i
    else:
      result = num1 + num2
      num1 = num2
      num2 = result
    print(result)

Number For Fibonacci Series: 8
Fibonacci Series Are:
0
1
1
2
3
5
8
13

Q5) Write a program in Python to check whether a number is
palindrome or not using iterative method.

In [ ]:
n = int(input("Enter Number: "))
reverse = 0
num = n
while num!=0:
    reverse = reverse*10 + num%10;        
    num=num//10;
if reverse==n:
    print("Number Is Palindrome")
else:
    print("Number Is Not Palindrome")

Enter Number: 555
Number Is Palindrome

Q6) Write a program in Python to find greatest among three
integers.

In [ ]:
num1 = int(input("First number: "))
num2 = int(input("Second number: "))
num3 = int(input("Third number: "))

if num1>=num2 and num1>=num3: 
	print(num1, "num1 is Greatest")
if num2>=num1 and num2>=num3:
	print(num2, "num2 is Greatest")
if num3>=num1 and num3>=num2:
	print(num3, "num3 is Greatest")

First number: 23
Second number: 45
Third number: 20
45 num2 is Greatest

Q7) Write a program in Python to check if a number is binary?

In [ ]:
num = int(input("Enter Number: "))
while(num>0):
    j=num%10
    if j!=0 and j!=1:
        print("Number Is Not Binary")
        break
    num=num//10
    if num==0:
        print("Number is binary")

Enter Number: 10101
Number is binary

Q8) Write a program in Python to find sum of digits.

In [ ]:
numbers = []
for i in range(0,5):
  numbers.append(int(input("Enter:")))
print(numbers)
print("Sum of all numbers are:",sum(numbers))

Enter:121
Enter:1236
Enter:100
Enter:101
Enter:56
[121, 1236, 100, 101, 56]
Sum of all numbers are: 1614

Q9) Write a program in Python to swap two numbers without using third variable?

In [ ]:
num1 = int(input("Enter Number1: "))
num2 = int(input("Enter Number2: "))

print("\nBefore Swapping")
print("Number1:", num1)
print("Number2:", num2)

num1 , num2 = num2 , num1

print("\nAfter Swapping")
print("Number1:", num1)
print("Number2:", num2)

Enter Number1: 20
Enter Number2: 15

Before Swapping
Number1: 20
Number2: 15

After Swapping
Number1: 15
Number2: 20

Q10) Write a program in Python to swap two numbers using third variable?

In [ ]:
num1 = int(input("Enter Number1: "))
num2 = int(input("Enter Number2: "))

print("\nBefore Swapping")
print("Number1:", num1)
print("Number2:", num2)

swap = num1
num1 = num2
num2 = swap

print("\nAfter Swapping")
print("Number1:", num1)
print("Number2:", num2)

Enter Number1: 20
Enter Number2: 40

Before Swapping
Number1: 20
Number2: 40

After Swapping
Number1: 40
Number2: 20

Q11) Python Program to find the Average of numbers.

In [ ]:
numbers = int(input("Enter quantity of numbers: "))
lst = []

for i in range(0, numbers):
  lst.append(int(input("Enter The Numbers: ")))
print("\nThe Average of your given numbers are: ",sum(lst) / numbers)

Enter quantity of numbers: 5
Enter The Numbers: 44
Enter The Numbers: 55
Enter The Numbers: 66
Enter The Numbers: 77
Enter The Numbers: 88

The Average of your given numbers are:  66.0

Q12) Python Program to calculate factorial using iterative method.

In [ ]:
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

Q13) Python Program to calculate factorial.

In [ ]:
def fact(n):  
   if n == 1:  
       return n  
   else:  
       return n*fact(n-1)

num = int(input("Enter a whole number to find Factorial: "))  
if num < 0:  
   print("Factorial can't be calculated for negative number")  
elif num == 0:  
   print("Factorial of 0 is 1")  
else:  
   print("Factorial of",num,"is",fact(num))

Enter a whole number to find Factorial: 6
Factorial of 6 is 720

Q14) Python Program to check a given number is even or odd.

In [ ]:
number = int(input("Enter A Number: "))
if (number %2 == 0):
  print(number,"Is An Even Number")
else:
  print(number,"Is An Odd Number")

Enter A Number: 5
5 Is An Odd Number

Q15) Python program to print first n Prime Number.

In [ ]:
number1 = int(input("Enter The Number: "))
print("Prime numbers: ")
for i in range(1,number1):
    for j in range(2,i):
        if(i%j==0):
            break
    else:
        print(i,end=' ')

Enter The Number: 15
Prime numbers:
1 2 3 5 7 11 13

Q16) Python program to print Prime Number in a given range.

In [ ]:
starting_value = int(input ("Enter Starting Value: "))  
ending_value = int(input ("Enter Ending Value: "))  
  
print("The Prime Numbers in the range are: ") 
for number in range (starting_value, ending_value + 1):  
    if number > 1:
        for i in range (2, number):  
            if (number % i) == 0:  
                break  
        else:  
            print (number,end=' ')

Enter Starting Value: 5
Enter Ending Value: 50
The Prime Numbers in the range are:
5 7 11 13 17 19 23 29 31 37 41 43 47

Q17) Python Program to find Smallest number among three.

In [ ]:
num1 = int(input("Enter Number1: "))
num2 = int(input("Enter Number2: "))
num3 = int(input("Enter Number3: "))

if num1<=num2 and num1<=num3: 
	print(num1, "num1 is Smallest")
if num2<=num1 and num2<=num3:
	print(num2, "num2 is Smallest")
if num3<=num1 and num3<=num2:
	print(num3, "num3 is Smallest")

Enter Number1: 45
Enter Number2: 67
Enter Number3: 4
4 num3 is Smallest

Q18) Python program to calculate the power using the POW method.

In [ ]:
import math

base = int(input("Enter the value for base: "))
exponent = int(input("Enter the value for exponent: "))
print(base,"to power",exponent,"=",end = ' ')
print(pow(base,exponent))

Enter the value for base: 4
Enter the value for exponent: 5
4 to power 5 = 1024

Q19) Python Program to calculate the square of a given number.

In [ ]:
number = int(input("Enter the value for base: "))

print("Square Of" , number , "Is" , pow(number,2))

Enter the value for base: 5
Square Of 5 Is 25

Q20) Python Program to calculate the cube of a given number.

In [ ]:
number = int(input("Enter the value for base: "))

print("Cube Of" , number , "Is" , pow(number,3))

Enter the value for base: 3
Cube Of 3 Is 27

Q21) Python Program to calculate the square root of a given number.

In [ ]:
import math
number = int(input("Enter the value for base: "))
print("Square root Of",number,"is",math.sqrt(number))

Enter the value for base: 36
Square root Of 36 is 6.0

Q22) Python Program to Convert Decimal Number into Binary.

In [ ]:
def decimalToBinary(n):
    return bin(n).replace("0b", "")

number = int(input("Enter decimal number: "))
print("Binary to", number , "is", decimalToBinary(number))

Enter decimal number: 344
Binary to 344 is 101011000

Q23) Python Program to convert Decimal number to Octal number.

In [ ]:
number = int(input("Enter decimal number: "))
print("Octal to", number , "is", oct(number))

Enter decimal number: 344
Octal to 344 is 0o530

Q24) Python Program to check the given year is a leap year or not.

In [ ]:
year = int(input("Enter a year: "))

if((year % 400 == 0) or (year % 100 != 0) and  (year % 4 == 0)):   
    print("Year", year ,"is a leap Year");  
else:  
    print ("Year", year ,"is not a leap Year")

Enter a year: 2005
Year 2005 is not a leap Year

Q25) Python Program to convert Celsius to Fahrenheit.

In [ ]:
temp = float(input("Enter temperature value in celcius: "))
fahrenheit = (temp * 1.8) + 32

print(temp, "'C is equivalent to", fahrenheit, "'F.")

Enter temperature value in celcius: 25
25.0 'C is equivalent to 77.0 'F.

Q26) Python Program to convert Fahrenheit to Celsius.

In [ ]:
temp = float(input("Enter temperature value in fahrenheit: "))
celsius = (temp - 32) * 5/9

print(temp, "'F is equivalent to", celsius, "'C.")

Enter temperature value in fahrenheit: 77
77.0 'F is equivalent to 25.0 'C.